*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(pildid/lehetaust.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

.header_alus{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    background-color: rgba(0, 255, 240, 0.5);
    flex-direction: column;
}

.header_pealkiri{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}

.header_nupud{
    display: flex;
    flex-direction: row;
    margin-right: 7px;
    justify-content: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 10px;
}

.header_nupud a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.header_alus_desc{
    display: none;
}

@media screen and (min-width: 1024px){
    .header_alus{
        display: none;
    }

    .header_alus_desc{
        display: flex;
        width: 100%;
        height: 100px;
        background-color: rgba(0, 255, 240, 0.5);
        justify-content: space-around;
    }

    .header_nimi_desc{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        font-weight: bold;
        color: white;
    }

    .header_pealkiri_desc{
        display: flex;
        text-align: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 40px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .header_nupud_desc{
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .header_nupud_desc a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 26px;
        margin-left: 15%;
        
    }

    .header_nupud_desc a:hover{
        margin-top: 3%;
        height: 2px;
    }
}

/* Sisu Avaleht */

.mina1{
    display: flex;
    flex-direction: column;
}

.mina1_tekst{
    display: flex;
    height: fit-content;
    width: 90%;
    background-color: rgba(0, 255, 240, 0.5);
    color: white;
    border-radius: 5px;
    align-self: center;
    justify-content: center;
}

.mina1 h3{
    font-size: 24px;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 2%;
}

.mina1_tekst h2{
    font-size: 17px;
    margin: 7px;
}

.mina0{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;
    background-color: rgba(0, 255, 240, 0.5);
    margin-top: 5%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

@media screen and (min-width: 1024px){
    .mina1_tekst h2{
        font-size: 30px;
    }

    .mina1_tekst{
        width: 70%;
        align-self: flex-start;
        margin-left: 5%;
        justify-content: flex-start;
    }

    .mina1 h3{
        margin-top: 2%;
        margin-bottom: 0%;
    }

    .mina0{
        width: fit-content;
    }
}

/* Sisu Projektid */

.projekt{
    display: flex;
    height: fit-content;
    width: 70%;
    margin-top: 5%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 255, 240, 0.5);
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}


@media screen and (min-width: 1024px){

    .projekt{
        width: fit-content;
        border-radius: 10px;
        font-size: 24px;
        margin-top: 6%;
    }

    .sisu_projekt{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .kooli{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .era{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

}

/* Sisu projekt */

.projekt_tekst{
    height: fit-content;
    width: 90%;
    background-color: rgba(0, 255, 240, 0.5);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 7px;
    color: white;
}

.lingid h2{
    display: flex;
    height: fit-content;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    justify-content: center;
    background-color: rgba(0, 255, 240, 0.5);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 7px;
}

.lingid{
    text-decoration: none;
}

.links{
    color: white;
    text-align: center;
    margin-top: 25%;
    font-size: 36px;
}

@media screen and (min-width: 1024px){
    .projekt_tekst{
        font-size: 30px;
        margin-top: 4%;
        border-radius: 15px;
        
    }

    .lingid h2{
        margin-top: 2%;
        width: 15%;
    }

    .lingid{
        font-size: 24px;
    }

    .links{
        margin-top: 6%;
        font-size: 36px;
    }
}