*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(pildid/lehetaust.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

.header_alus{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    background-color: rgba(0, 255, 240, 0.5);
    flex-direction: column;
}

.header_nimi_desc{
    display: none;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.header_pealkiri{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin-top: 10px;
}

.header_nupud{
    display: flex;
    flex-direction: row;
    margin-right: 7px;
    justify-content: center;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 10px;
}

.header_nupud a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Sisu Avaleht */

.mina1{
    display: flex;
    flex-direction: column;
}

.mina1_tekst{
    display: flex;
    height: fit-content;
    width: 90%;
    background-color: rgba(0, 255, 240, 0.5);
    color: white;
    border-radius: 5px;
    align-self: center;
    justify-content: center;
}

.mina1 h3{
    font-size: 24px;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 2%;
}

.mina1_tekst h2{
    font-size: 17px;
    margin: 7px;
}

.mina0{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80%;
    background-color: rgba(0, 255, 240, 0.5);
    margin-top: 5%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

/* Sisu Projektid */

.projekt{
    display: flex;
    height: fit-content;
    width: 70%;
    margin-top: 5%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 255, 240, 0.5);
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}

/* Sisu projekt */

.projekt_tekst{
    height: fit-content;
    width: 90%;
    background-color: rgba(0, 255, 240, 0.5);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 7px;
    color: white;
}

.lingid h2{
    display: flex;
    height: fit-content;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    justify-content: center;
    background-color: rgba(0, 255, 240, 0.5);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 7px;
}

.lingid{
    text-decoration: none;
}

.links{
    color: white;
    text-align: center;
    margin-top: 25%;
    font-size: 36px;
}

@media screen and (min-width: 1024px){
    .projekt_tekst{
        font-size: 30px;
        margin-top: 4%;
        border-radius: 15px;
        
    }

    .lingid h2{
        margin-top: 2%;
        width: 15%;
    }

    .lingid{
        font-size: 24px;
    }

    .links{
        margin-top: 6%;
        font-size: 36px;
    }
}